<h1>All Photo Notes</h1>

<% @notes.each do |note| %>
  <p><%= note.title %></p>
  <p><%= note.description %></p>
  <img src="<%= note.image %>"></img>
  <p><%= link_to 'Show',note_path(note) %></p>
<% end %>
